@charset "UTF-8";

/*----------- concept ------------ */

#gest_mt img {
    height: 200px;
}
#gest {
    text-align: center;
}
#gest h5 {
    writing-mode: vertical-lr;
    letter-spacing: 1px;
}
#gest2 {
    background-color: rgb(0, 0, 0, 0.3);
    display: inline-block;
    padding: 10px;
}
#gest2 p {
    font-size: 10px;
    display: inline-block;
}

@media screen and (min-width:769px) {
    #gest_mt img {
        height: 400px;
    }
    #gest2 {
        margin-top: 4rem;
        padding: 20px 0;
    }
    #gest2 h5 {
        font-size: 30px;
        letter-spacing: 2px;
    }
    #gest2 p {
        padding-top: 10px;
    }
}

@media screen and (min-width:1200px) {
    #gest_mt img {
        height: 500px;
    }
    #gest2 {
        margin-top: 7rem;
    }
}

@media screen and (min-width:1400px) {
    #gest_mt img {
        height: 400px;
    }
    #gest2 {
        margin-top: 5rem;
    }
    #gest2 h5 {
        font-size: 24px;
        letter-spacing: 4px;
    }
}

/* -------------- carousel -------------- */

#carousel_group {
    background-color: rgb(252, 245, 235);
    padding: 30px 0;
}
#carousel_group h6 {
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 20px;
    margin: 0;
}
#indicator {
    margin-top: 20px;
}
#carousel img {
    height: 300px;
    object-fit: cover;
}
#ca_info {
    margin-top: 40px;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}
#ca_info p {
    margin: 0;
    line-height: 22px;
}
#ca_info_p1 {
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    padding-bottom: 20px;
}
#ca_info h6 {
    text-align: center;
    margin: 40px 0 20px 0;
}

@media screen and (min-width:769px) {
    #carousel_group h6 {
        font-size: 24px;
        line-height: 50px;
    }
    #indicator {
        margin-top: 30px;
    }
    #carousel img {
        height: 400px;
    }
    #ca_info {
        font-size: 16px;
        text-align: center;
        margin-bottom: 50px;
    }
    #ca_info p {
        line-height: 30px;
    }
    #ca_info_p1 {
        font-size: 26px;
        line-height: 40px;
    }
    
}

@media screen and (min-width:1200px) {
    #carousel img {
        height: 600px;
        padding: 0 150px;
    }
}

/* ------------ steamboat -------------- */

#venice_group {
    background-color: rgb(252, 245, 235);
}
#venice_group_text {
    text-align: center;
    margin-bottom: 10px;
}
#venice_group_text h6 {
    line-height: 30px;
    font-size: 14px;
    letter-spacing: 2px;
}
#venice {
    height: 130px;
    width: 100%;
    object-fit: cover;
}
#steamboat {
    height: 130px;
    object-fit: cover;
    width: 100%;
}
#steamboat_text {
    margin-top: 20px;
    margin-bottom: 50px;
}
#steamboat_text p {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    line-height: 24px;
    letter-spacing: 3px;
}

@media screen and (min-width:769px) {
    #venice_group_text {
        writing-mode: vertical-rl;
        text-align: left;
    }
    #venice_group_text h6 {
        font-size: 18px;
        line-height: 40px;
        margin-right: 10px;
    }
    #venice {
        height: 200px;
    }
    #steamboat {
        height: 200px;
    }
    #steamboat_text {
        margin-top: 0;
    }
    #steamboat_text p {
        font-size: 12px;
    }
}

@media screen and (min-width:1200px) {
    #venice_group_text h6 {
        font-size: 22px;
        margin-right: 25%;
    }
    #venice {
        height: 300px;
    }
    #steamboat {
        height: 300px;
    }
    #steamboat_text p {
        font-size: 14px;
    }
}

/* ---------------- map ------------------ */

#map {
    background-color: rgb(252, 245, 235);
    text-align: center;
    padding-bottom: 30px;
}
#map_text {
    margin-bottom: 30px;
}
#map_text h3 {
    font-size: 18px;
    letter-spacing: 3px;
}
#map_text span {
    display: block;
    font-size: 10px;
    letter-spacing: 0;
    margin: 20px 0;
}
#map_text ul {
    list-style-type: none;
}
#map_text p {
    font-size: 10px;
    margin: 0;
    font-weight: bold;
}
.nav-tabs {
    border: none;
    display: inline-flex;
    text-align: center;
}
.nav-tabs li {
    border: 1px solid rgb(235, 230, 230);
    background-color: rgb(210, 239, 210);
} 
.nav-name {
    font-size: 10px;
    color: black;
}
.nav_info {
    padding: 4px 8px;
}
#hotel_info {
    position: relative;
    background-color: white;
    margin: 10px;
    border: 1px solid rgb(221, 217, 217);
}
#hotel_info::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -15px;
    border: 10px solid transparent;
    border-bottom: 15px solid white;
    z-index: 2;
}
#hotel_info::after {
    content: "";
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translatex(-80%);
    border: 9px solid transparent;
    border-bottom: 15px solid rgb(230, 226, 226);
    z-index: 1;
}
#hotel_info p {
    font-size: 10px;
    margin: 0;
}
#hotel_md {
    list-style-type: none;
    padding: 0;
}
#hotel_info .hotel_text {
    font-size: 12px;
}
#hotel_info .hotel_at {
    margin: 5px;
}
#hotel_info .hotel_at a {
    text-decoration: none;
    color: black;
    border-bottom: 1px dotted;
    padding-bottom: 5px;
}

@media screen and (min-width:769px) {
    #map_text {
        position: relative;
    }
    #map_text h3{
        display: inline-block;
        font-size: 26px;
        writing-mode: vertical-lr;
        padding-bottom: 50px;
    }
    #map_text span {
        position: absolute;
        top: 9rem;
        left: 46%;
        writing-mode: horizontal-tb;
        font-size: 12px;
    }
    #map_text ul {
        display: flex;
        text-align: center;
        padding-left: 20%;
    }
    #map_text li p{
        font-size: 14px;
    }
    .nav-name {
        font-size: 16px;
    }
    #hotel_info p {
        font-size: 16px;
        margin: 0;
    }
    #hotel_md {
        display: flex;
        padding-top: 30px;
        padding-left: 15%;
    }
    #hotel_info .hotel_text {
        font-size: 24px;
    }
    #hotel_info .hotel_at {
        margin: 30px;
    }
    #hotel_info .hotel_at a {
        padding-bottom: 10px;
    }
    #hotel_md .hotel_river {
        font-size: 20px;
    }
}

@media screen and (min-width:1200px) {
    #map {
        padding-top: 50px;
    }
    #map_text span {
        left: 47%;
    }
    #map_text ul {
        padding-left: 30%;
    }
    .hotel_img {
        height: 250px;
        width: 100%;
        object-fit: cover;
    }
    #hotel_md {
        padding-left: 25%;
    }
    .tab-content {
        margin: 0 auto;
        text-align: center;
        width: 1000px;
    }
}
@media screen and (min-width:1400px) {
    #hotel_md {
        padding-left: 22%;
    }
    #map_text ul {
        padding-left: 35%;
    }
    #map_text span {
        left: 48%;
    }
}

/* --------------- ROOMS TYPE --------------- */

#hotel7_text {
    padding: 30px 10px 20px 10px;
}
#hotel7_text p {
    font-size: 14px;
}
#hotel6 {
    border: none;
    margin-bottom: 20px;
}
#hotel6 img {
    height: 200px;
}
#hotel6 h6 {
    padding-top: 20px;
    font-size: 12px;
}
#hotel6_dark {
    background: #000;
    overflow: hidden;
    transition: 0.5s;
    position: relative;
}
#hotel6 a img {
    display: block;
    width: 100%;
    transition: 0.5s;
}
#hotel6 a:hover img {
    opacity: 0.3;
}
#hotel6_dark .caption {
    margin-top: 25%;
    display: inline-block;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    border-bottom: 1px dotted;
}
#hotel6_dark .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all 0.2s ease;
    transition: all 1s ease;
}
#hotel6_dark:hover .mask {
    opacity: 1;
}

#hotel6 h5 {
    font-size: 18px;
    font-weight: 200;
}
#hotel6_text1 {
    font-size: 10px;
    letter-spacing: 3px;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(207, 204, 204);
}
#hotel_text2, #hotel_text3, #hotel_text4 {
    font-size: 12px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}
#hotel_text4 {
    padding-bottom: 10px;
}
#hotel6 span {
    display: inline-block;
    padding: 0 5px;
    transform: translateY(-0.5rem);
}
#hotel_text5, #hotel_text6 {
    border: 1px solid rgb(227, 222, 222);
    margin: 5px 10px;
    text-align: left;
    padding: 15px;
    padding-left: 20px;
    font-size: 12px;
}
#hotel_text5 {
    background-color: white;
}
#hotel_text6 {
    background-color: rgb(245, 244, 243);
}
#hotel6 a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
}
#hotel6 space {
    padding-left: 10px;
}

@media screen and (min-width:769px) {
    #hotel7_img {
        height: 320px;
    }
    #hotel7_textlr {
        writing-mode: vertical-lr;
        margin: 20px auto;
        font-size: 20px;
    }
    #hotel7_text2 {
        font-size: 12px;
    }
    #hotel7_text {
        text-align: center;
    }
    #hotel7_text p {
        font-size: 12px;
        margin-bottom: 5px;
        letter-spacing: 1px;
        font-weight: bold;
    }
}

@media screen and (min-width:1200px) {
    #hotel7_img {
        height: 400px;
    }
    #hotel7_textlr {
        font-size: 30px;
    }
    #hotel7_text {
        margin: 30px 0;
    }
    #hotel7_text p {
        font-size: 16px;
        letter-spacing: 3px;
    }
    #hotel_text5, #hotel_text6 {
        width: 47%;
    }
    #hotel6 img {
        height: 350px;
    }
    #hotel6 h6 {
        padding-top: 40px;
        font-size: 18px;
    }
    #hotel6 h5 {
        font-size: 30px;
    }
    #hotel6_text1 {
        font-size: 18px;
    }
    #hotel6_flex1 {
        margin: 0 auto;
    }
    #hotel6_flex1 p {
        font-size: 16px;
    }
    #hotel_text5, #hotel_text6 {
        font-size: 14px;
    }
}